<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div style="border-radius:5px;border:1px solid #000; background-color:#AFAFAF;">
    <div style="background-color:#333132;color:#fff; padding:23px;
    text-align:center;font-size: 1.8em;letter-spacing: 0.5em;">
      SKILLS FINDER
    </div>
    <div style="background-color:#F36523;color:#fff;padding:10px;">
    </div>
    <div style="text-align:center;padding-top:30px; padding-bottom:10px;color:#212121;">
      <p style="font-size:1.5em;">Hi There <%= @user.name.humanize%> <%= @user.lastname.humanize%>,</p>
      <span>Welcome to </span><span style="font-weight:700;font-size:1.2em;letter-spacing: 0.5em;">SKILLS FINDER</span>
      <br>
      <br>
      <p>Your account has been <b style="color:#F36523;">"Successfully created"</b> </p>
      <p>User Name: <%=@user.email %></p>
      <p>Temporaly Password: <%= @pass%></p>
      <p>If you have any problems, please constact us at <b style="font-size:1.2em;">system@garonz.com</b></p>
      <p style="padding-bottom:80px;">Sincerely, <b>The Team of Garonz</b></p>
      <p style="font-weight:700;">Garonz, inc. Attention: Departament 415 P.O Box 10005 Palo alto CA 94303</p>
    </div>

  </div>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>User#sending_password</h1>
<p>
  <%= @user.email %>
</p>
<p>
  <%= @pass %>, find me in app/views/user_mailer/sending_password.html.erb
</p>
</body>
</html> -->
